APP_NAME=gitops-platform
APP_ENV=dev
HTTP_PORT=8080

PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=gitops
PG_PASSWORD=gitops123
PG_DB=gitops_platform
PG_SSLMODE=disable

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0